<html>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.linkedin.com/in/johnny-gobbi/"><img class="linkedin" src="../../assets/logo/linkedin.png"></a><a href="https://github.com/JohnnyGOBBI"><img class="git" src="../../assets/logo/git.png"></a></div>
            <p class="copyright">Johnny Gobbi © 2022</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
